<footer class="fixed-bottom">
<div class="container-fluid">
		<div class="row">
			<div class="content-footer">
				<div class="col-6 col-md-2 bloc footer-contact">

					<h3 class="footer-heading">Coordonnées</h3>

					<ul class="liste-contact">
						<li>
							<i class="fas fa-map-marker-alt fa-fw"></i>
							12 Rue Ampère
						</li>
						<li class='px-4'>
							91300 Massy
						</li>
						<li>
							<i class="fa-solid fa-mobile-retro me-2"></i>0687488093
						</li>
						<li>
							<i class="far fa-at fa-fw"></i>info.beauty-shop@gmail.com
						</li>
					</ul>
				</div>

				<div class="col-6 col-md-2 bloc footer-client">
					<h3 class="footer-heading">Services</h3>
					<ul class="liste-client">
						<li>
							<a href="#">Conditions générales de vente</a>
						</li>
						<li>
							<a href="#">Retour et remboursement</a>
						</li>
						<li>
							<a href="#">FAQs</a>
						</li>
						<li>
							<a href="{{ path('customer_contact') }}">Contact</a>

						</li>
					</ul>
				</div>

				<div class="col-6 col-md-2 bloc footer-apropos">
					<h3 class="footer-heading">A propos</h3>

					<ul class="liste-apropos">
						<li>
							<a href="#">Gestion des cookies</a>
						</li>
						<li>
							<a href="{{ path('customer_legal_notice_show',{'title':'Mentions légales'}) }}">Mentions légales</a>
						</li>
						<li>
							<a href="#">Protection des données</a>
						</li>
						<li>
							<a href="#">Plan du site</a>
						</li>
					</ul>
				</div>

				<div class="col-6 col-md-2 bloc footer-media">

					<h3 class="footer-heading">Nos réseaux</h3>

					<ul class="liste-media">
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/fb.png') }}" alt="icone réseau Facebook">Facebook</a>
						</li>
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/twitter.png') }}" alt="icone réseau Twitter">Twitter</a>
						</li>
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/github.png') }}" alt="icone réseau Git-hub">Git-Hub</a>
						</li>
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/instragram.png') }}" alt="icones réseau Instragram">Instragram</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="text-center">
				<p class="footer-copyright mb-2">2022 © Iboy, All Rights Reserved</p>
			</div>
		</footer>
