<footer class="fixed-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="content-footer">
				<div class="col-md-2 col-sm-3 bloc footer-contact">
					<h3 class="footer-heading">Coordonnées</h3>
					<ul class="liste-contact">
						<li>
							<i class="fas fa-map-marker-alt fa-fw"></i>
							12 Rue Ampère
						</li>
						<li class='px-4'>
							91300 Massy
						</li>
						<li>
							<i class="fa-solid fa-mobile-retro me-2"></i>0687488093
						</li>
						<li>
							<i class="far fa-at fa-fw"></i>info.beauty-shop@gmail.com
						</li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-3 bloc footer-client">

					<h3 class="footer-heading">Services</h3>
					<ul class="liste-client">
						<li>
							<a href="{{ path('customer_legal_notice_show',{'title':'Conditions générales de ventes'}) }}">CGV</a>
						</li>
						<li>
							<a href="#">FAQ</a>
						</li>
						<li>
							<a href="{{ path('customer_contact') }}">Contact</a>
						</li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-3 bloc footer-apropos">

					<h3 class="footer-heading">A propos</h3>
					<ul class="liste-apropos">
						<li>
							<a href="{{ path('customer_legal_notice_show',{'title':'Gestion des cookies'}) }}">Gestion des cookies</a>
						</li>
						<li>
							<a href="{{ path('customer_legal_notice_show',{'title':'Mentions légales'}) }}">Mentions légales</a>
						</li>
						<li>
							<a href="{{ path('customer_legal_notice_show',{'title':'Protections des données'}) }}">Protection des données</a>
						</li>
						<li>
							<a href="{{ path('customer_legalNotices_planDuSite',{'title':'Plan du site'}) }}">Plan du site</a>
						</li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-3 bloc footer-media">

					<h3 class="footer-heading">Nos réseaux</h3>
					<ul class="liste-media">
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/fb.png') }}" alt="icone réseau Facebook">Facebook</a>
						</li>
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/twitter.png') }}" alt="icone réseau Twitter">Twitter</a>
						</li>
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/github.png') }}" alt="icone réseau Git-hub">Git-Hub</a>
						</li>
						<li>
							<a href="#"><img src="{{ asset('assets/img/medias/instagram.png') }}" alt="icones réseau Instagram">Instagram</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<p class="footer-copyright mb-2">2022 © Iboy, All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
