{% extends 'base.html.twig' %}

{% block title %}Nous contacter
{% endblock %}

{% block body %}
	<div class="container col-md-6 mt-5">
		{% include "_messages_flash.html.twig" %}


		<div class="row">
			<div class="col-12 text-center contactBg">
				<h1>Nous contacter</h1>
				<h2 class="h220px">Contacter notre équipe pour en savoir plus sur Beauty-Shop</h2>
			</div>


			<div class="contact-form mb-2">

				<div class="form-group justify-content-center">
					{{ form_start(formContact) }}

					{{ form_row(formContact.email, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="row">
					<div class="form-group col-6">
						{{ form_row(formContact.prenom, {'attr': {'class': 'form-control'}}) }}
					</div>

					<div class="form-group col-6">
						{{ form_row(formContact.nom, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group col-8 mt-3">
					{{ form_row(formContact.subjectMessage, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_row(formContact.message, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="submit" value="Nous faire parvenir" class="btn btn-primary py-3 px-5 mb-5 w-100">
				</div>
				{{ form_end(formContact) }}
			</div>
		</div>
	</div>


{% endblock %}
