{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="container d-flex justify-content-center py-5">
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-secondary" href="{{ path('app_login') }}">Dejà un compte? Se connecter
				</a>
			</div>

			<div class="col-md-12 mt-3">

				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Créer un compte</h5>
					</div>

					<div class="card-body col-md-12">
						<div class="col-md-12">
							{{ form_start(registrationForm) }}

							<div class="row">
								<div class="col-md-6">
									{{ form_row(registrationForm.firstName) }}
								</div>
								<div class="col-md-6">
									{{ form_row(registrationForm.name) }}
								</div>
							</div>
							{{ form_row(registrationForm.birthDay) }}
							{{ form_row(registrationForm.adresse) }}
							<div class="col-md-8">
								{{ form_row(registrationForm.telephone) }}
							</div>
							{{ form_row(registrationForm.email) }}
							{{ form_row(registrationForm.plainPassword) }}

							<p class="fw-lighter fst-italic fs-6">
								* champ obligatoire</p>
							<p class="fw-light fs-5 text-medium-grey ">Votre mot de passe doit contenir :</p>

							<div class="typoRegisterConstraint">
								<p class="fw-lighter text-medium-grey " id='contraintLength'>
									<i class="fas fa-check-circle"></i>
									entre 8 et 40 caractères.</p>
							</div>
							<div class="typoRegisterConstraint">
								<p class="fw-lighter text-medium-grey" id='contraintMinuscule'>
									<i class="fas fa-check-circle"></i>
									au moins une lettre minuscule</p>
							</div>
							<div class="typoRegisterConstraint">
								<p class="fw-lighter text-medium-grey" id='contraintMajuscule'>
									<i class="fas fa-check-circle"></i>
									au moins une lettre majuscule</p>
							</div>
							<div class="typoRegisterConstraint">
								<p class="fw-lighter text-medium-grey" id='contraintChiffre'>
									<i class="fas fa-check-circle"></i>
									au moins un chiffre</p>
							</div>
							{{ form_row(registrationForm.agreeTerms) }}
							<button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
							{{ form_end(registrationForm) }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const inputPassword = document.getElementById('registration_form_plainPassword_first');
		const contraintLength = document.getElementById('contraintLength');
		const contraintMajuscule = document.getElementById('contraintMajuscule');
		const contraintChiffre = document.getElementById('contraintChiffre');
		const contraintMinuscule = document.getElementById('contraintMinuscule');


		const checkLength = (item) => {
		if (item >= 8 && item <= 40) {
		contraintLength.classList.add('textGreen');
		} else {
		contraintLength.classList.remove('textGreen');
		}
		}

		const checkMajuscule = (item) => {
		if (item.match(new RegExp("[A-Z]"))) {
		contraintMajuscule.classList.add('textGreen');
		} else {
		contraintMajuscule.classList.remove('textGreen');
		}
		}

		const checkChiffre = (item) => {
		if (item.match(new RegExp("[0-9]"))) {
		contraintChiffre.classList.add('textGreen');
		} else {
		contraintChiffre.classList.remove('textGreen');
		}
		}

		const checkMinuscule = (item) => {
		if (item.match(new RegExp("[a-z]"))) {
		contraintMinuscule.classList.add('textGreen');
		} else {
		contraintMinuscule.classList.remove('textGreen');
		}
		} inputPassword.addEventListener('keyup', () => {
		let actualLength = inputPassword.value.length;
		// console.log(actualLength);
		checkLength(actualLength);

		let inputValue = inputPassword.value;
		checkMajuscule(inputValue);
		checkChiffre(inputValue);
		checkMinuscule(inputValue);
		})
	</script>
{% endblock %}
