{% extends "base.html.twig" %}

{% block title %}Détail du produit
{% endblock %}


{% block body %}

	<section>
		<div class="container py-5">
			<div class="row">
				{% include "_messages_flash.html.twig" %}

				<div class="col-12">
					<div class="col-12 d-flex justify-content-end">
						<a class="btn btn-primary" href="{{ path('boutique_product_show_by_category',{'id':product.category.id}) }}">
							<span class="btn-label">
								<i class="fa fa-chevron-left"></i>
							</span>Retour</a>
					</div>

				</div>

				<div class="col-sm-12 col-md-4 mt-2">

					<div class="card">
						<img src="{{ product.imagePath }}" class="card-img-top imageDetailProduct" alt="image_category">
					</div>

				</div>
				<div class="col-sm-12 col-md-8 mt-2">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p>{{ product.price | priceEuro }}</p>
							<p>{{ product.description}}</p>
							<a href="{{ path('cart_add',{ 'id' : product.id } ) }}" class="btn btn-primary">Ajouter au panier</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class=" bg-light">
		<div class="container py-5">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">D'autres produits</h3>
				</div>

				{% for product in suggestedProducts %}

					<div class="col-sm-12 col-md-6 col-lg-3 mt-3">

						<div class="card">
							<img src="{{ product.imagePath }}" class="card-img-top imageCardOtherProduct" alt="image_category">

							<div class="card-body">
								<h5 class="card-title">{{ product.name|u.truncate('20', '...',false) }}</h5>
								<p>{{ product.price | priceEuro }}</p>
								<a href="{{ path('boutique_product_detail',{'id': product.id} ) }}" class="btn btn-primary w-100">Consulter</a>
							</div>
						</div>

					</div>

				{% endfor %}

			</div>
		</div>
	</section>

{% endblock %}
