{% extends "base.html.twig" %}

{% block description %}
	{{ category.name }}
	beauté des yeux, beauté des lévres, pinceaux, teint
{% endblock %}

{% block title %}
	{{ category.name }}
	Beauty-Shop | Offre petit prix
{% endblock %}

{% block body %}
	<section>
		<div class="container py-5">
			<div class="row">
				<div class="col-12">
					<h1 class="text-center">{{ category.name }}</h1>

					<div class="col-12 d-flex justify-content-end">
						<a class="btn btn-primary btn-sm" href="{{ path('home') }}">
							<span class="btn-label">
								<i class="fa fa-chevron-left"></i>
							</span>Retour</a>
					</div>
				</div>

				{% for product in category.produits %}

					<div class="col-sm-12 col-md-6 col-lg-4 mt-3">
						<div class="card">
							<img src="{{ product.imagePath }}" class="imageCard" alt="image_category">

							<div class="card-body">
								<h5 class="card-title">{{ product.name|u.truncate('25', '...',false) }}</h5>
								<p>{{ product.price | priceEuro }}</p>
								<a href="{{ path('boutique_product_detail',{'id': product.id} ) }}" class="btn btn-primary w-100">Consulter</a>

							</div>
						</div>
					</div>

				{% endfor %}

			</div>
		</div>
	</section>

{% endblock %}
