<div class="container">
	<div class="row">
		<div class="col-12">
			{{ form_start(form) }}

			<div class="row">

				<div class="col-sm-6 col-md-4">
					{{ form_row(form.name) }}
				</div>

				<div class="col-8">
					{{ form_row(form.imagePath) }}
				</div>

			</div>

			<button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
</div>
