<h1 class="msgSupport">Message pour le Contact</h1>

<p>Email :
	{{ emailCustomer }}</p>

<p>Prénom :
	{{ prenom }}</p>

<p>Nom :{{ nom }}</p>

<p>Sujet :{{ subjectMessage }}</p>

<p>Message :
	{{ message }}</p>

<!-- {#
<p>Nom :{{ nom }}</p>

<p>Prénom :
	{{ prenom }}</p>

<p>Email :
	{{ emailCustomer }}</p>

<p>message :
	{{ message }}</p>

	#} -->
