<h2 class="msgSupport">Message pour le support de Beauty-Shop</h2>
<p>Sujet :
	{{ subjectMessage }}</p>

<p>Votre demande :
	{{ contentMessage }}</p>

<p>Client :
	{{ emailCustomer }}</p>

<p>Nom :
	{{ nom }}</p>

<p>Prénom :
	{{ prenom }}</p>

<p>Téléphone :
	{{ telephone }}</p>
